4
gana
gana



Publik
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
wg
wg
l
0818

Publik
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
fed
fed



Publik
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
bert
bert



Publik
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1
0
