3
G
G



Publik
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
H
H



Publik
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
J
J



Publik
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
1 1 0
1 1 0
0 0 1
1
0 2 1
