3
INDRA
INDRA
CUKUP TUBESNYA
0822324567
PAHING
Publik
R # R * R @ R @ R @ 
R * R * R * R @ R @ 
G @ G * G * G @ G * 
R @ R @ R @ R @ R @ 
R * R * R * R * R * 
UCOK
BABA



Publik
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
OKE
BABA



Publik
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
R * R * R * R * R * 
1 1 1
1 1 0
1 0 1
0